body{
	margin-top: 60px;
}
.carousel-row > article{
	margin-bottom: 10px;
}
.carousel-row > aside{
	margin-bottom: 10px;
}
.carousel-inner > div > img{
	width: 100% !important;
	height: 450px !important;
}

ul.nav-stacked{
	text-align: center;
}
.hidden{
	display: none;
}
.img-thumnail{
	width:70%;
	margin: auto;
	height: 300px;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
}
.row-fluid{
	margin-top: 10px;
	margin-bottom: 20px;
}
h4{
	color: #FFFFFF;
}
footer{
	background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
background-repeat: repeat-x;
border-radius: 4px;
}